.main-content {
  padding: 40px 80px;
  text-align: left;
  background-color: var(--primary-color) !important;
  color: #fff !important;
  opacity: 0.91;
}

.main-content h1 {
  margin: 0;
  font-size: 3rem;
}

.main-content p {
  margin: 0;
  font-size: 1.2rem;
}

img.pilot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.home-card {
  max-height: '280px';
  background-color: var(--primary-color);
  color: var(--primary-text);
}

